services:
  inventory_web:
    build: .
    env_file:
      - .env
    environment:
      - DEBUG=True
    ports:
      - "8000:8000"
    restart: always
    depends_on:
      - inventory_db

  inventory_db:
    image: postgres:17.7-alpine3.23
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/
    environment:
      - POSTGRES_DB=db_inventory
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

volumes:
  postgres_data: